.fractal_panel {
	float: left;
}
.controls_panel {
	float: left;
	padding: 10px;
}
.fractal_canvas {
	border: 1px solid black;
}
.iterations_input {
	width: 70px;
}
.coordinates_input {
	width: 100%;
}
.color_stretching_input {
	width: 500;
}
.controls_table {
	border-collapse: collapse;
}
td {
	min-width: 100px;
	border: 1px solid black;
	padding: 4px;
}
